[receive]
	requireContributorAgreement = true
[access "refs/*"]
	owner = group Administrators
	label-Verified = -1..+1 group Bootable Recovery Group
	create = group Bootable Recovery Group
	push = +force group Bootable Recovery Group
	submit = group Bootable Recovery Group
	label-Code-Review = -2..+2 group Bootable Recovery Group
[project]
	state = active
